h1 {
    font-family: Poppins, sans-serif;
}

p{
    font-family: Poppins, sans-serif;
    position: relative;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #2C3E50;
    background-color: #ffffff;
    line-height: 1.6;
}

header {
    background-color: #7FDBFF;
    color: 2C3E50;
    padding: 2em 0;
    text-align: center;
}

header img {
    width: 200px;
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    border: 4px solid #2C3E50;
    object-position: top;
}

header h1 {
    margin-top: 0.5em;
    font-size: 2.5em;
}

p {
    font-size: 1.1em;
    margin: 1em auto;
    max-width: 600px;
    padding: 0 1em;
}

ul {
    list-style-type: square;
    padding: 0 1em;
    margin: 0.5em auto 2em auto;
    max-width: 600px;
}

ul li {
    margin: 0.5em 0;
}

footer {
    background-color: #2C3E50;
    color: #ffffff;
    text-align: center;
    padding: 1.5em 0;
}

footer a {
    color: #7FDBFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    p, ul {
        padding: 0 0.5em;
    }

    header h1 {
        font-size: 2em;
    }

    header img {
        width: 150px;
        height: 150px;
    }
}