.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 25px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3.5s;
  padding: 25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.profile {
  display: flex;
}

.info {
  flex: 1;
}

.profile img {
  width: 200px;
  height: auto;
}

