.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 25px;
}

.homepage {
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage h1 {
  font-size: 70px;
}

.homepage span {
  font-size: 35px;
}

.description {
  font-size: 20px;
}

.team h1 {
  text-align: center;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding-top: 40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3.5s;
  padding: 25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.profile {
  display: flex;
}

.info {
  flex: 1;
}

.profile img {
  width: 200px;
  height: auto;
}

footer {
  text-align: center;
}
