.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 25px;
}

.profile {
  display: flex;
}

.info {
  flex: 1;
}

.profile img {
  width: 200px;
  height: auto;
}

.profile-image {
    border-radius: 50%;
    border: 3px solid #2C3E50;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto 1em;
    width: 200px;
    height: 200px;
}