body {
  font-family: poppins, sans-serif;
  margin: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #2C3E50;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
  justify-content: center;
  gap: 25px;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.homepage {
  text-align: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: #2C3E50;
  background: linear-gradient(96deg, rgba(44, 62, 80, 1) 34%, rgba(127, 219, 255, 1) 100%);
}

.homepage h1 {
  font-size: 70px;
}

.homepage span {
  font-size: 35px;
}

.slogan-color {
  color: #7fdbff;
}

.description {
  font-size: 20px;
}

.team h1 {
  text-align: center;
  padding-top: 70px;
  font-weight: 700;
  font-size: 50px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding-top: 40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3.5s;
  padding: 45px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.button {
  background-color: #2C3E50;
  color: white;
  padding: 10px;
  text-decoration: none;
}


.container {
  margin: 50px;
  padding-top: 50px;
}

.profile {
  display: flex;
}

.profile h1 {
  font-size: 50px;
}

.info {
  flex: 1;
  padding: 20px;
}



.profile img {
  width: 300px;
  height: auto;
}

<<<<<<< HEAD
.profile-image {
    border-radius: 50%;
    border: 3px solid #2C3E50;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto 1em;
    width: 200px;
    height: 200px;
}
=======
footer {
  text-align: center;
  margin: 20px;
  padding: 20px;
}
>>>>>>> 562fd9240526eb8ffae39d83bb800bf517e67acd
