.navbar {
  width: 100%;
  top: 0;
  background-color: #2C3E50;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
  justify-content: center;
  gap: 25px;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.homepage {
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    to bottom right,
    #7FDBFF20,
    #2C3E5010
  );
}

.homepage h1 {
  font-size: 70px;
  position: relative;
}

.homepage h1::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 4px;
  background-color: #7FDBFF;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  border-radius: 2px; 
}

.homepage span {
  font-size: 35px;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.4s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.description {
  font-size: 20px;
}

.team h1 {
  text-align: center;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-top: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.profile {
  display: flex;
}

.info {
  flex: 1;
}

.profile-image {
    border-radius: 0;
    border: 3px solid #2C3E50;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto 1em;
    width: 200px;
    height: 200px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #2C3E50;
}

.description {
  font-size: 20px;
  max-width: 800px;
  margin: 20px auto 0 auto;
  padding: 0 20px;
  line-height: 1.6;
  color: #2C3E50;
}

.button {
  background-color: #2C3E50;
  color: white;
  padding: 10px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 30px;
}
