.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 25px;
}

.homepage {
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage h1 {
  font-size: 70px;
}

.homepage span {
  font-size: 35px;
}

.description {
  font-size: 20px;
}

.team h1 {
  text-align: center;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding-top: 40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.35s;
  padding: 25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.profile {
  display: flex;
}

.info {
  flex: 1;
}

.profile-image {
    border-radius: 50%;
    border: 3px solid #2C3E50;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto 1em;
    width: 200px;
    height: 200px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #2C3E50;
}
